
<h3>Front Cover </h3>
    <mat-form-field>

      <mat-select  placeholder="ServMode" [formControl]="ServModeControl" required>
        <mat-option *ngFor="let ServMode of ServModes" [value]="ServMode">
          {{ServMode.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="ServModeControl.hasError('required')">Please choose ServMode</mat-error>
      <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
    </mat-form-field>

    <mat-form-field>

        <mat-select placeholder="FC RemoteOT" [formControl]="FcRemoteOTControl" required>
          <mat-option *ngFor="let FcRemoteOT of FcRemoteOTs" [value]="FcRemoteOT">
            {{FcRemoteOT.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="FcRemoteOTControl.hasError('required')">Please choose DT FcRemoteOT</mat-error>
         <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
      </mat-form-field>

      <mat-form-field>

          <mat-select placeholder="FC DrinkMode" [formControl]="FCDrinkModeControl" required>
            <mat-option *ngFor="let FCDrinkMode of FCDrinkModes" [value]="FCDrinkMode">
              {{FCDrinkMode.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="FCDrinkModeControl.hasError('required')">Please choose FC DrinkMode</mat-error>
          <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
